
blockquote {
	background-color: rgba(0, 0, 0, .12);
	padding: 8px;
	quotes: "\201C" "\201D";
}

a:hover {
	color: darkred;
	text-decoration: none;
}

a:visited {
	color: darkblue;
	text-decoration: none;
}

div::first-letter {
	float: left;
	color: darkred;
	border: 3px ridge darkgoldenrod;
	padding: 16px;
	background-color: gold;
	margin: 8px;
}
